<%- include('../partials/header.ejs') %>

<main>
    <div class="container-fluid">
        <h1 class="mt-4">Flights Report</h1>
        <!-- <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Administration Page </li>
                    </ol> -->
        <div id="content">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Flights Count</th>
                            <th>Average Price</th>
                        </tr>
                        <tbody>
                            <tr>
                                <td><%= data.FLIGHTS_COUNT %></td>
                                <td><%= data.AVG_PRICE %></td>
                            </tr>
                        </tbody>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</main>

<%- include('../partials/footer.ejs') %>