<%- include('admin/partials/header.ejs') %>
            
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Administration Page</h1>
                    <!-- <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active">Administration Page </li>
                    </ol> -->
                    <div id="content">
                     
                    </div>
                </div>
            </main>

<%- include('admin/partials/footer.ejs') %>
